body{
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    padding: 3;
}

li {
    display: flex;
    align-items:center;
    padding: 10px;
    border-radius: 16px;
    width: fit-content;
    
    
}

a{
    text-decoration: none;
    color: black ;
}

li:hover{
    background-color: rgb(203, 203, 203);
    
}

i {
    margin-right: 10px;
    font-size: 24px;
}

.fa-square-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-envelope {
    color: #d44638;
}

.fa-github {
    color: #333;
}

.fa-linkedin {
    color: #0077b5;
}